<div class="container scraper-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Mongo Scraper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clear">Clear Articles</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="main-section">

        <div class="row">
            <div class="col-12">
                <img src="images/header_scraper.jpg" width="100%" height="auto" alt="header image">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="article">
                    {{#each articles}}
                    <div data-id={{_id}}>
                        <a href="{{link}}" target="_blank" class="article-link" id="article-link-{{_id}}"><span
                                class="article-title" id="article-title-{{_id}}">{{title}}</span></a>
                        <div class="article-body" id="article-body-{{_id}}">{{body}}</div>
                        <button data-id={{_id}} id="delete-article">Delete from Saved Article</button>
                        <button data-id={{_id}} id="notes">Create Notes</button>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>

</div>